*
{
    margin: 0;
    padding: 0;
}
body
{
    font-family:Arial, Helvetica, sans-serif;
    font-size:96px;
    color:#262626;
    text-align:center;
    background-color:#464646;
    background-image:url("Background2.png");
    background-repeat:repeat;
    
}

.BodyContainer
{
    background-color:#3A8CFF;
    background-image:url("Background.png");
    background-repeat:repeat;
    height: 100%;
    margin: 8px 5% 0% 5%;
}

.Cap
{
    background-color:#FFFFFF;
    height: 24px;
    box-shadow: 0px 2px 5px black, 0px -2px 5px black ;
}
.Post
{
    font-size:20px;
    color: white;
    text-align:left;
    margin: 2% 5% 8px 5%;
    padding: 16px;
    background-color: #484848;
    background-image:url("Background2.png");
    background-repeat:repeat;
    box-shadow: 0px 0px 10px black;
}

#Title
{
    padding-top: 2.5%;
    padding-left: 10%;
    text-align: left;
}
#NavBar
{
    margin-top: 2.5%;
    font-size: 24px;
    background-color:white;
    box-shadow: 0px 0px 10px black;
}
#Menu li
{
    margin: 4px 5% 4px 5%;
    list-style-type:none;
    display: inline-block;
    border-right:double;
    border-left: double;
    border-color:#c8c8c8;
}
a{
    text-decoration:none;
    color: #C8C8C8;
}
a:hover{
    color: #333333;
}
#activeTab a
{
    color: #333333;
}
#MainBody
{
    margin: 8px 5% 8px 5%;
    padding: 8px 5% 2.5% 5%;
}
#PostHeader
{
    border-bottom: double;
}
#PostTitle
{
    font-size: 48px;
}
#PostDate
{
    font-size: 16px;
    font-style: italic;
}
#SubPost #PostHeader #PostTitle
{
    font-size:32px;
}
#Content ul
{
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
}
#Content ul li
{
    margin-top: 8px;
}
}
#CapBot
{
    position: fixed;
    bottom: 0px; 
    width: 100%; 
}